@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
/* i asked chat gpt how to embed a font from google */
* {
  font-family: "Oswald", sans-serif;
}
h1 {
  color: whitesmoke;
  background-color: #6c6f70;
  text-align: center;
}
h3 {
  color: #9eb28f;
  text-align: center;
}
h2 {
  color: #9eb28f;
  text-align: left;
}
p {
  color: #9eb28f;
  font-size: 1.2em;
  text-indent: 30px;
}
iframe {
  display: block;
  margin: auto;
}
fieldset {
  color: #005172;
}
#bold {
  font-size: x-large;
  text-decoration: underline;
}
table {
  color: #005172;
  background-color: #dad7cb;
}
body {
  background-color: #006644;
  margin-left: 120px;
  margin-right: 120px;
}
.navbar {
  overflow: hidden;
  background-color: #c7d28a;
}
#contactpage {
  background-color: #dad7cb;
}
a {
  text-decoration: none;
  color: #6c6f70;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #6c6f70;
  color: #c7d28a;
}
.switcher:hover {
  background-image: url("second-image.jpg");
}
.sitemap {
  font-size: xx-large;
  background-color: #9eb28f;
}
