@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
/* i asked chat gpt how to embed a font from google */
* {
  font-family: "Oswald", sans-serif;
}
html {
  font-size: 19px;
}
h1 {
  color: whitesmoke;
  background-color: #6c6f70;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  /* i asked chat GPT how to add a black border around the letters so it was 
    easier to read.  */
}
h3 {
  color: #9eb28f;
  text-align: center;
}
h2 {
  color: #9eb28f;
  text-align: left;
}
p {
  color: #9eb28f;
  font-size: 1.2em;
  text-indent: 1.3em;
}
iframe {
  display: block;
  margin: auto;
}
fieldset {
  color: #005172;
}
#bold {
  font-size: 1.7em;
  text-decoration: underline;
}
table {
  color: #005172;
  background-color: #dad7cb;
  width: 100%;
}

body {
  background-color: #006644;
  margin-left: 10%;
  margin-right: 10%;
}
.navbar {
  overflow: hidden;
  background-color: #c7d28a;
}
#contactpage {
  background-color: #dad7cb;
}
a {
  text-decoration: none;
  color: #6c6f70;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  max-width: 100%;
}
.navbar a {
  float: left;
  font-size: 1.2em;
  color: white;
  text-align: center;
  padding: 2% 2%;
  text-decoration: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.navbar a:hover {
  background-color: #6c6f70;
  color: #c7d28a;
}
.switcher:hover {
  background-image: url("second-image.jpg");
}
.sitemap {
  font-size: xx-large;
  background-color: #9eb28f;
}
table {
  margin: auto;
  width: 100%;
}
#pics {
  background-color: #006644;
  border-collapse: collapse;
  width: 100%;
}
#pics img {
  width: 550px;
  display: block;
}
button {
  border: none;
  color: #9eb28f;
  text-align: center;
  text-decoration: none;
  height: 4em;
  width: 6em;
}
button:hover {
  background-color: #6c6f70;
}
